services:
  api:
    build:
      context: ./apps/api
    env_file:
      - ./.env
    ports:
      - "8080:8080"

  worker:
    build:
      context: ./apps/worker
    env_file:
      - ./.env

  web:
    build:
      context: ./apps/web
    ports:
      - "8081:80"